<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/main_layout}" >
<head>
    <title>Home Page</title>
</head>
<body>
<div th:replace="fragments/header::header"> </div>
<div  layout:fragment="content" class="container">
<!--    It's not working-->
    <div class="">
        <p>Welcome to thymeleaf!</p>
        <a th:href="@{/user/add}">ADD NEW USER</a>
    </div>
</div>
<div th:replace="fragments/footer::footer"> </div>
</body>
</html>